<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Django App | Home</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static " css/style.css" %}">
</head>

<body>
  <!-- level two -->
  <!-- <h1>Level two</h1>
  <h2>Here are your access records:</h2>
  <div class="djangotwo">
    {% if access_records %}
    <table>
      <thead>
        <th>Site Name</th>
        <th>Date Accessed</th>
      </thead>
      {% for acc in access_records %}
      <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No access records found!</p>
    {% endif %}
  </div> -->

  <!-- level three -->
  <!-- <h1>Level Three</h1>
  <div class="container">
    <div class="jumbotron">
      <h2>Go to /formpage to fill out the form</h2>
    </div>
  </div> -->

  <!-- level four -->
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <h2>Go to /users to sign up!</h2>
      <a href="./users">Sign up</a>
    </div>
  </div>
</body>

</html>
